html{
    margin: 0;
    padding: 0;
    background-image:url("maxresdefault.jpg");
    background-size: cover;
    box-sizing: content-box;

}
header{
    background-color: darkblue;
    color: #fff;
    padding: 20px;
    flex-direction: row;
    display: flex;
    border-radius: 5px;
    height: 90px;
    margin: 5px auto 5px auto;
}
img{
    height: 70px;
    border-radius: 50%;
    margin-right: 30px;
}
ul{
    text-decoration: none;

}
li{
    display: inline;
    justify-content: center;
    padding: 30px;
    padding-top:50px;
    font-family: helvetica;
}